//
   Created by abdomokhtar on 03/06/2017.
.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand Recipe Book
    .navbar-default
      ul.nav.navbar-nav
        li
          a(routerLink="/recipes", routerLinkActive="active") Recipes
        li
          a(routerLink="/shopping", routerLinkActive="active") Shopping List
      ul.nav.navbar-nav.navbar-right
        li.dropdown(appDropdown)
          a.dropdown-toggle() Manage #[span.caret(role="button")]
          ul.dropdown-menu()
            li
              a(href="#") Save Date
            li
              a(href="#") Fetch Date
