//
   Created by abdomokhtar on 03/06/2017.
app-header()
.container
  //.row(*ngIf="activeView === 'recipes'")
    app-recipe
  //.row(*ngIf="activeView !== 'recipes'")
    app-shopping-list
  router-outlet
