
<div class="row">
  <div class="col-xs-12"><img src="{{recipe.imgUrl}}" class="img-responsive"/></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown="appDropdown" class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Manage <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#" (click)="addToShoppingList()">To Shopping List</a><a href="#">Edit Recipe</a><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Description</h4>
    <div class="col-xs-12">{{ recipe.description }}</div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Ingredients</h4>
    <ul>
      <li *ngFor="let i of recipe.ingredients">{{ i.name }} - {{ i.amount }}</li>
    </ul>
  </div>
</div>